footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.PrivateTabIndicator-root-10 {
    height: 5px !important;
}

/* Primary Theme Colour */
.MuiAppBar-colorPrimary, .themeColor {
    background-color: #8540d0 !important;
}