.MuiContainer-root {
    padding-top: 60px;
}
/* Bottom navigation */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.push {
    height: 200px;
}
.PrivateTabIndicator-root-10 {
    height: 5px !important;
}

/* Primary Theme Colour */
.MuiAppBar-colorPrimary, .themeColor {
    background-color: #8540d0 !important;
}

/* Profile Page */
.content {
    flex: '1 0 auto';
}
.details {
    display: 'flex';
    flex-direction: 'column';
}
.root {
    display: 'flex';
    width: 1000px;
}
.logoutCard {
    margin-top: 60px;
    max-width: 500px !important;
    min-height: 200px !important;
    padding: 30px !important;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Register */
.MuiAccordion-root:before {
    height: 0px !important;
}
.addIcon {
    color: black;
}

/* Jammin */

.togetherCenter {
    display: flex;
    justify-content: center;
}

.jamminCard {
    padding: 16px;
    text-align: center !important;
    min-width: 275px;
    flex-direction: row;
    margin: 10px;
}
  
.jamminCardAll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.jamminBold {
    font-weight: bold;
}